:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-sans: var(--polysans), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --bg-body: #f4f6f5;
  --primary: #36e7b1;
  --text: #252728;
  --fs-html: 16px;
  --fs-tini-tiny: 0.6rem;
  --fs-tiny: 0.8rem;
  --fs-details: 2rem;
  --fs-small: 1.5rem;
  --fs-medium: 2.5rem;
  --fs-large: 3.5rem;
}

[data-theme="dark"] {
  --bg-body: #252728;
  --primary: #abe6cb;
  --text: #f4f6f5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fs-html);
}

body {
  background: var(--bg-body);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
