.main {
  min-height: 100vh;
  padding: 3.5rem;
  position: relative;
}

.description {
  color: var(--text);
  max-width: var(--max-width);
  width: 80%;
}

.description p {
  font-family: var(--font-sans);
  font-size: var(--fs-large);
  overflow: initial;
  font-weight: 400;
}

.description a {
  font-weight: 700;
  color: var(--primary);
  opacity: 0.75;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 2rem;
  }
  .description p {
    font-size: var(--fs-medium);
    line-height: 1.2;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1.5rem;
  }
  .description p {
    width: 100%;
    font-size: var(--fs-small);
    line-height: 1.2;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
